/* typo */

@font - face {
  font-family : 'BodoniXT';
  src : url('BodoniXT.ttf');
  }
@font - face {

  font-family : 'Daydreamer';
  src : url('Daydreamer - copie.tff');
  }

/* header */

h1  {
  text-align: center;
  font-size: 70px;
  font-family : 'Daydreamer';
  text-align : center;
}


/* balises H */
h4 {
  text-align: left;
  font-size: 32px;
  font-family : 'Daydreamer';
}

/* pictures */
img {
   width: 80%;
   margin-left: auto;
   margin-right: auto }
 }


/* background block colors  Class*/

.titre {
  font-size: 40px;
  font-family : 'BodoniXT';
}

/* section */

section {
  padding: 5px 20px;
  margin: auto;
  width: 1000px;
  height: auto;
  background-color: white
  }


p {
     font-size: 32px;
     font-family : 'Daydreamer';
     text-align; left;
     margin-left: 10px;
    }

 code {
         background-color: #000;
         border-radius: 50px;
         color: white;
         padding: 5px 15px;
         font-family: menlo, monospace;
         font-size: 20px;
         margin-right: 10px;
         margin-left: 10px;
     }

.creation {
position: absolute;left: 10px;
padding: 3px 3x;
width: 600px;
height: auto;
background-color: pink;
 }
   /*  div */

     div {
         position: relative;
         margin: auto 0;
         width: 100%;
         padding-top: 10px;
         padding-bottom: 10px;
         background-color: #fff;
         color: #000;
     }

     div p {
       font-size: 22px;
      font-family : 'Times';
    }
     /* background block colors  Class*/

/* pink */
.pink { background-color: #ffc2ee; color: #6c2a5a; }
.pink code { background-color: #fff; color: #6c2a5a; }

/* green */
.green { background-color: #87fee1; color: #235045; }
.green code{ background-color: #fff; color: #235045; }
